    body {
        width: 100%;
    }

    .sbd_slider {
        height: 300px;
    }

    .sbd-vezka-group {
        height: 200px;
        border: 1px solid black;
        border-radius: 4px;
    }

    .sbd-vezka {
        height: 100%;
        width: 25%;
        border: 1px solid black;
        float: left;
    }

    .sbd-secondary-retail-group {
        height: 200px;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #CCCCCC;
    }

    .sbd-retail {
        border: 1px solid black;
        float: left;
    }

    .sbd-clear {
        clear: both;
    }

    .sbd_main_footer {
        margin: 5px;
        padding-top: 5px;
        border: 1px solid #CCCCCC;
        border-radius: 10px;
    }