/*
div {
	border: 1px black solid;
}
*/

.sbd_wrapper {
}

.sbd_breadcrumbs {
}

.sbd_main_body {
	padding: 10px;
	border: 1px solid #CCCCCC;
	border-radius: 10px;
}

.sbd_pictures {
}

.sbd_main_photo {
	width: 100%;
	margin: 0 auto;
	padding: 10px;
	border: 1px solid #CCCCCC;
	border-radius: 10px;
}

img {
	max-width: 100%;
}

.sbd_main_photo img {
	max-width: 100%;
	width: 100%;
}

.sbd_photo_selector {
	width: 80%;
	margin: 10px auto;
	padding: 10px;
	border: 1px solid #CCCCCC;
	border-radius: 10px;
}

.sbd_photo_selector img {
	max-width: 20%;
	min-width: 20%;
	margin: 0 10px;
}

.sbd_description {
	height: 100%;
	padding: 10px;
}

.sbd_product_name {
	text-align: center;
}

.sbd_product_price {
	text-align: center;
}

.sbd_features {
	margin-left: 10px;
}

.sbd_quantity {
	padding: 6px 0 6px 25px;
}

.sbd_order {
}

.sbd_shipping_time {
}

.sbd_accessories {
}

.sbd_tabs {
}

.sbd_information {
	margin: 10px;
	padding: 10px;
	border: 1px solid #CCCCCC;
	border-radius: 10px;
}

.sbd_recommended {
}

.sbd_main_footer {
	margin: 5px;
	padding-top: 5px;
	border: 1px solid #CCCCCC;
	border-radius: 10px;
}

.clearfix {
	*zoom: 1;
}

.clearfix:before,.clearfix:after{
	display: table;
	content: "";
	line-height: 0;
}
.clearfix:after{
	clear: both;
}